@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern';
}

a {
  @apply transition-colors duration-200 ease-out;
}

.button {
  @apply inline-flex scale-100 cursor-pointer
  items-center justify-center whitespace-nowrap
  border-0 bg-blue-500
  p-6 text-center font-mono text-base
  leading-none text-white no-underline
  transition-all duration-200;
}

@screen md {
  .text-vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
  .banner-styles {
    clip-path: polygon(8.33333% 18.16%, 33.3333% 18.16%, 33.3333% 81.84%, 8.33333% 81.84%);
    opacity: 1;
  }
  .banner-styles-nd {
    opacity: 1;
    transform: translateX(16.6667%) scale(0.833333) translateZ(0px);
  }
}

.button:hover {
  @apply scale-105 bg-blue-600 text-white outline-none;
}

.button:focus {
  @apply scale-[1.025] bg-blue-700 text-blue-100 outline-none;
}

.button[disabled] {
  @apply pointer-events-none bg-blue-100 text-blue-200;
}
/* Code blocks */
pre[class*='language-'] {
  @apply -mx-4 p-4 text-xs leading-5;

  overflow: auto;
}

@screen md {
  pre[class*='language-'] {
    @apply p-8 text-sm leading-6;
  }
}

.prose [block-key] {
  @apply relative;
}

.prose code {
  @apply whitespace-nowrap rounded border border-blue-100 bg-blue-50 p-1 text-blue-500;
}

.prose code {
  @apply text-sm;
}

.prose canvas {
  @apply h-auto max-w-full;
}

.intro a {
  @apply underline;
}

.intro a:hover {
  @apply bg-white text-blue-500 no-underline;
}
